body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #f1f1f1;
    width: 40%;
    
    border-radius: 10px;
    padding: 25px;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#erro{
    color: red;
}

#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button{
    cursor: pointer;
    text-decoration: none;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 5px;
    border: none;
}
.button:disabled{
    opacity: 0.3;
}

.conteudo{
    margin-block: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin{
    margin-block: 1rem;
}
